In [1]:
import rioxarray
import os

# <<< INVASIVE SPECIES MAP >>>
INVASIVE_BIRDS_PATH = 'Datasets/Machine Learning/10km Rasters/Birds/All_Invasive_Birds_10km.tif'

# <<< LAND COVER MAP >>>
# Dimensions: 700000x1300000
LAND_COVER_MAP_PATH = 'Datasets/Machine Learning/10km Rasters/Features/gb2021lcm10km_percentage_target.tif'

# <<< FERTILISER >>>
# The dataset consists of maps of the predicted average annual application rates (2010-2015) of three different inorganic 
# chemical fertilisers – nitrogen (N), phosphorus (P) and potassium (K) – in England across a six-year period, along with 
# their respective estimates of uncertainty, at a 1 km x 1 km resolution. 
FERTILISER_K_PATH = 'Datasets/Digimap/Land-Cover-plus-Fertilisers_4731497/fertiliser_k_prediction_uncertainty.tif'
FERTILISER_N_PATH = 'Datasets/Digimap/Land-Cover-plus-Fertilisers_4731497/fertiliser_n_prediction_uncertainty.tif'
FERTILISER_P_PATH = 'Datasets/Digimap/Land-Cover-plus-Fertilisers_4731497/fertiliser_p_prediction_uncertainty.tif'

# <<< PESTICIDE >>>
PESTICIDE_FOLDER_PATH = 'Datasets/Machine Learning/10km Rasters/Features/Pesticides/'

# <<< INTEGRATED HYDROLOGICAL DIGITAL TERRAIN MODEL >>>
# Dimensions: 700000x1300000
# These datasets all only have one band
ELEVATION_PATH = 'Datasets/Machine Learning/10km Rasters/Features/HGHT_10km.tif'
CUMULATIVE_CATCHMENT_AREA_PATH = 'Datasets/Machine Learning/10km Rasters/Features/CCAR_10km.tif'
SURFACE_TYPE_PATH = 'Datasets/Machine Learning/10km Rasters/Features/SURF_10km.tif'
OUTFLOWING_DRAINAGE_DIRECTION_PATH = 'Datasets/Machine Learning/10km Rasters/Features/OUTF_10km.tif'
INFLOWING_DRAINAGE_PATTERN_PATH = 'Datasets/Machine Learning/10km Rasters/Features/INFL_10km.tif'

IHDTM = {
    'Elevation': ELEVATION_PATH, 
    'Cumulative catchment area': CUMULATIVE_CATCHMENT_AREA_PATH, 
    'Surface type': SURFACE_TYPE_PATH, 
    'Outflowing drainage direction': OUTFLOWING_DRAINAGE_DIRECTION_PATH, 
    'Inflowing drainage direction': INFLOWING_DRAINAGE_PATTERN_PATH
}


# <<< Opening in rasterio >>>
# dataset = rasterio.open(FERTILISER_P_PATH)
# data = dataset.read()
# np.max(data)

# <<< Opening in rioxarray >>>
# dataset = rioxarray.open_rasterio(ELEVATION_PATH)
# dataset.name = 'data'
# df = dataset.to_dataframe()

In [2]:
# Open the land cover map raster file, transform its bands into feature columns and use this as the base for the main dataframe
# as this has the widest extent out of all the files and is arguably one of the most important dataframes

lcm = rioxarray.open_rasterio(LAND_COVER_MAP_PATH)
lcm.name = 'data'
main_df = lcm.to_dataframe().drop(columns='spatial_ref')
print(main_df.value_counts())
main_df = main_df.unstack(level='band')

LCM_CLASSES = [
    'Deciduous woodland', 
    'Coniferous woodland', 
    'Arable', 
    'Improve grassland', 
    'Neutral grassland', 
    'Calcareous grassland', 
    'Acid grassland',  
    'Fen', 
    'Heather', 
    'Heather grassland', 
    'Bog',
    'Inland rock', 
    'Saltwater',
    'Freshwater',
    'Supralittoral rock',
    'Supralittoral sediment',
    'Littoral rock',
    'Littoral sediment',
    'Saltmarsh',
    'Urban',
    'Suburban'
    ]

main_df = main_df['data'].rename(columns={i+1: j for i, j in enumerate(LCM_CLASSES)})
main_df

data
0       182086
1         1212
2          694
3          495
4          386
         ...
80          25
93          24
85          23
79          23
78          23
Length: 101, dtype: int64

band                Deciduous woodland  Coniferous woodland  Arable  \
y         x
1295000.0 5000.0                     0                    0       0
          15000.0                    0                    0       0
          25000.0                    0                    0       0
          35000.0                    0                    0       0
          45000.0                    0                    0       0
...                                ...                  ...     ...
5000.0    655000.0                   0                    0       0
          665000.0                   0                    0       0
          675000.0                   0                    0       0
          685000.0                   0                    0       0
          695000.0                   0                    0       0

band                Improve grassland  Neutral grassland  \
y         x
1295000.0 5000.0                    0                  0
          15000.0                   0                  0
          25000.0                   0                  0
          35000.0                   0                  0
          45000.0                   0                  0
...                               ...                ...
5000.0    655000.0                  0                  0
          665000.0                  0                  0
          675000.0                  0                  0
          685000.0                  0                  0
          695000.0                  0                  0

band                Calcareous grassland  Acid grassland  Fen  Heather  \
y         x
1295000.0 5000.0                       0               0    0        0
          15000.0                      0               0    0        0
          25000.0                      0               0    0        0
          35000.0                      0               0    0        0
          45000.0                      0               0    0        0
...                                  ...             ...  ...      ...
5000.0    655000.0                     0               0    0        0
          665000.0                     0               0    0        0
          675000.0                     0               0    0        0
          685000.0                     0               0    0        0
          695000.0                     0               0    0        0

band                Heather grassland  ...  Inland rock  Saltwater  \
y         x                            ...
1295000.0 5000.0                    0  ...            0          0
          15000.0                   0  ...            0          0
          25000.0                   0  ...            0          0
          35000.0                   0  ...            0          0
          45000.0                   0  ...            0          0
...                               ...  ...          ...        ...
5000.0    655000.0                  0  ...            0          0
          665000.0                  0  ...            0          0
          675000.0                  0  ...            0          0
          685000.0                  0  ...            0          0
          695000.0                  0  ...            0          0

band                Freshwater  Supralittoral rock  Supralittoral sediment  \
y         x
1295000.0 5000.0             0                   0                       0
          15000.0            0                   0                       0
          25000.0            0                   0                       0
          35000.0            0                   0                       0
          45000.0            0                   0                       0
...                        ...                 ...                     ...
5000.0    655000.0           0                   0                       0
          665000.0           0                   0                       0
          675000.0           0                   0                       0
          685000.0           0                   0                       0
          695000.0           0                   0                       0

band                Littoral rock  Littoral sediment  Saltmarsh  Urban  \
y         x
1295000.0 5000.0                0                  0          0      0
          15000.0               0                  0          0      0
          25000.0               0                  0          0      0
          35000.0               0                  0          0      0
          45000.0               0                  0          0      0
...                           ...                ...        ...    ...
5000.0    655000.0              0                  0          0      0
          665000.0              0                  0          0      0
          675000.0              0                  0          0      0
          685000.0              0                  0          0      0
          695000.0              0                  0          0      0

band                Suburban
y         x
1295000.0 5000.0           0
          15000.0          0
          25000.0          0
          35000.0          0
          45000.0          0
...                      ...
5000.0    655000.0         0
          665000.0         0
          675000.0         0
          685000.0         0
          695000.0         0

[9100 rows x 21 columns]

In [3]:
# For each IHDTM file, append its raster data to the main dataframe
for key in IHDTM:
    ihdtm_data = rioxarray.open_rasterio(IHDTM[key])
    ihdtm_data = ihdtm_data.squeeze().drop("spatial_ref").drop("band")
    ihdtm_data.name = key
    ihdtm_df = ihdtm_data.to_dataframe()

    # Adding 25 to x and y coordinates to match index of other datasets
    ihdtm_df.index = ihdtm_df.index.set_levels(ihdtm_df.index.levels[0]+25, level=0)
    ihdtm_df.index = ihdtm_df.index.set_levels(ihdtm_df.index.levels[1]+25, level=1)
    main_df = main_df.join(ihdtm_df)
main_df

                    Deciduous woodland  Coniferous woodland  Arable  \
y         x
1295000.0 5000.0                     0                    0       0
          15000.0                    0                    0       0
          25000.0                    0                    0       0
          35000.0                    0                    0       0
          45000.0                    0                    0       0
...                                ...                  ...     ...
5000.0    655000.0                   0                    0       0
          665000.0                   0                    0       0
          675000.0                   0                    0       0
          685000.0                   0                    0       0
          695000.0                   0                    0       0

                    Improve grassland  Neutral grassland  \
y         x
1295000.0 5000.0                    0                  0
          15000.0                   0                  0
          25000.0                   0                  0
          35000.0                   0                  0
          45000.0                   0                  0
...                               ...                ...
5000.0    655000.0                  0                  0
          665000.0                  0                  0
          675000.0                  0                  0
          685000.0                  0                  0
          695000.0                  0                  0

                    Calcareous grassland  Acid grassland  Fen  Heather  \
y         x
1295000.0 5000.0                       0               0    0        0
          15000.0                      0               0    0        0
          25000.0                      0               0    0        0
          35000.0                      0               0    0        0
          45000.0                      0               0    0        0
...                                  ...             ...  ...      ...
5000.0    655000.0                     0               0    0        0
          665000.0                     0               0    0        0
          675000.0                     0               0    0        0
          685000.0                     0               0    0        0
          695000.0                     0               0    0        0

                    Heather grassland  ...  Littoral rock  Littoral sediment  \
y         x                            ...
1295000.0 5000.0                    0  ...              0                  0
          15000.0                   0  ...              0                  0
          25000.0                   0  ...              0                  0
          35000.0                   0  ...              0                  0
          45000.0                   0  ...              0                  0
...                               ...  ...            ...                ...
5000.0    655000.0                  0  ...              0                  0
          665000.0                  0  ...              0                  0
          675000.0                  0  ...              0                  0
          685000.0                  0  ...              0                  0
          695000.0                  0  ...              0                  0

                    Saltmarsh  Urban  Suburban  Elevation  \
y         x
1295000.0 5000.0            0      0         0      -9999
          15000.0           0      0         0      -9999
          25000.0           0      0         0      -9999
          35000.0           0      0         0      -9999
          45000.0           0      0         0      -9999
...                       ...    ...       ...        ...
5000.0    655000.0          0      0         0      -9999
          665000.0          0      0         0      -9999
          675000.0          0      0         0      -9999
          685000.0          0      0         0      -9999
          695000.0          0      0         0      -9999

                    Cumulative catchment area  Surface type  \
y         x
1295000.0 5000.0                        -9999            -1
          15000.0                       -9999            -1
          25000.0                       -9999            -1
          35000.0                       -9999            -1
          45000.0                       -9999            -1
...                                       ...           ...
5000.0    655000.0                      -9999            -1
          665000.0                      -9999            -1
          675000.0                      -9999            -1
          685000.0                      -9999            -1
          695000.0                      -9999            -1

                    Outflowing drainage direction  \
y         x
1295000.0 5000.0                               -1
          15000.0                              -1
          25000.0                              -1
          35000.0                              -1
          45000.0                              -1
...                                           ...
5000.0    655000.0                             -1
          665000.0                             -1
          675000.0                             -1
          685000.0                             -1
          695000.0                             -1

                    Inflowing drainage direction
y         x
1295000.0 5000.0                             255
          15000.0                            255
          25000.0                            255
          35000.0                            255
          45000.0                            255
...                                          ...
5000.0    655000.0                           255
          665000.0                           255
          675000.0                           255
          685000.0                           255
          695000.0                           255

[9100 rows x 26 columns]

In [4]:
# For each fertiliser, append its raster data to the main dataframe
fertiliser = {'Fertiliser K' : FERTILISER_K_PATH, 'Fertiliser N' : FERTILISER_N_PATH, 'Fertiliser P' : FERTILISER_P_PATH}

for key in fertiliser:
    fert_dataset = rioxarray.open_rasterio(fertiliser[key])
    fert_dataset.name = key
    fert_df = fert_dataset.to_dataframe().drop(columns='spatial_ref')
    fert_df = fert_df.drop(index=2).droplevel('band')
    main_df = main_df.join(fert_df)
main_df

                    Deciduous woodland  Coniferous woodland  Arable  \
y         x
1295000.0 5000.0                     0                    0       0
          15000.0                    0                    0       0
          25000.0                    0                    0       0
          35000.0                    0                    0       0
          45000.0                    0                    0       0
...                                ...                  ...     ...
5000.0    655000.0                   0                    0       0
          665000.0                   0                    0       0
          675000.0                   0                    0       0
          685000.0                   0                    0       0
          695000.0                   0                    0       0

                    Improve grassland  Neutral grassland  \
y         x
1295000.0 5000.0                    0                  0
          15000.0                   0                  0
          25000.0                   0                  0
          35000.0                   0                  0
          45000.0                   0                  0
...                               ...                ...
5000.0    655000.0                  0                  0
          665000.0                  0                  0
          675000.0                  0                  0
          685000.0                  0                  0
          695000.0                  0                  0

                    Calcareous grassland  Acid grassland  Fen  Heather  \
y         x
1295000.0 5000.0                       0               0    0        0
          15000.0                      0               0    0        0
          25000.0                      0               0    0        0
          35000.0                      0               0    0        0
          45000.0                      0               0    0        0
...                                  ...             ...  ...      ...
5000.0    655000.0                     0               0    0        0
          665000.0                     0               0    0        0
          675000.0                     0               0    0        0
          685000.0                     0               0    0        0
          695000.0                     0               0    0        0

                    Heather grassland  ...  Urban  Suburban  Elevation  \
y         x                            ...
1295000.0 5000.0                    0  ...      0         0      -9999
          15000.0                   0  ...      0         0      -9999
          25000.0                   0  ...      0         0      -9999
          35000.0                   0  ...      0         0      -9999
          45000.0                   0  ...      0         0      -9999
...                               ...  ...    ...       ...        ...
5000.0    655000.0                  0  ...      0         0      -9999
          665000.0                  0  ...      0         0      -9999
          675000.0                  0  ...      0         0      -9999
          685000.0                  0  ...      0         0      -9999
          695000.0                  0  ...      0         0      -9999

                    Cumulative catchment area  Surface type  \
y         x
1295000.0 5000.0                        -9999            -1
          15000.0                       -9999            -1
          25000.0                       -9999            -1
          35000.0                       -9999            -1
          45000.0                       -9999            -1
...                                       ...           ...
5000.0    655000.0                      -9999            -1
          665000.0                      -9999            -1
          675000.0                      -9999            -1
          685000.0                      -9999            -1
          695000.0                      -9999            -1

                    Outflowing drainage direction  \
y         x
1295000.0 5000.0                               -1
          15000.0                              -1
          25000.0                              -1
          35000.0                              -1
          45000.0                              -1
...                                           ...
5000.0    655000.0                             -1
          665000.0                             -1
          675000.0                             -1
          685000.0                             -1
          695000.0                             -1

                    Inflowing drainage direction  Fertiliser K  Fertiliser N  \
y         x
1295000.0 5000.0                             255           NaN           NaN
          15000.0                            255           NaN           NaN
          25000.0                            255           NaN           NaN
          35000.0                            255           NaN           NaN
          45000.0                            255           NaN           NaN
...                                          ...           ...           ...
5000.0    655000.0                           255           NaN           NaN
          665000.0                           255           NaN           NaN
          675000.0                           255           NaN           NaN
          685000.0                           255           NaN           NaN
          695000.0                           255           NaN           NaN

                    Fertiliser P
y         x
1295000.0 5000.0             NaN
          15000.0            NaN
          25000.0            NaN
          35000.0            NaN
          45000.0            NaN
...                          ...
5000.0    655000.0           NaN
          665000.0           NaN
          675000.0           NaN
          685000.0           NaN
          695000.0           NaN

[9100 rows x 29 columns]

In [5]:
# For each file in pesticide folder, append its raster data to the main dataframe
for file in os.listdir(PESTICIDE_FOLDER_PATH):
    filename = os.fsdecode(file)
    if not filename.endswith('.tif'):
         continue
    
    pest_dataset = rioxarray.open_rasterio(PESTICIDE_FOLDER_PATH+filename)
    pest_dataset.name = filename[:-4]
    pest_df = pest_dataset.to_dataframe().drop(columns='spatial_ref')
    pest_df = pest_df.drop(index=2).droplevel('band')
    main_df = main_df.join(pest_df)
main_df

                    Deciduous woodland  Coniferous woodland  Arable  \
y         x
1295000.0 5000.0                     0                    0       0
          15000.0                    0                    0       0
          25000.0                    0                    0       0
          35000.0                    0                    0       0
          45000.0                    0                    0       0
...                                ...                  ...     ...
5000.0    655000.0                   0                    0       0
          665000.0                   0                    0       0
          675000.0                   0                    0       0
          685000.0                   0                    0       0
          695000.0                   0                    0       0

                    Improve grassland  Neutral grassland  \
y         x
1295000.0 5000.0                    0                  0
          15000.0                   0                  0
          25000.0                   0                  0
          35000.0                   0                  0
          45000.0                   0                  0
...                               ...                ...
5000.0    655000.0                  0                  0
          665000.0                  0                  0
          675000.0                  0                  0
          685000.0                  0                  0
          695000.0                  0                  0

                    Calcareous grassland  Acid grassland  Fen  Heather  \
y         x
1295000.0 5000.0                       0               0    0        0
          15000.0                      0               0    0        0
          25000.0                      0               0    0        0
          35000.0                      0               0    0        0
          45000.0                      0               0    0        0
...                                  ...             ...  ...      ...
5000.0    655000.0                     0               0    0        0
          665000.0                     0               0    0        0
          675000.0                     0               0    0        0
          685000.0                     0               0    0        0
          695000.0                     0               0    0        0

                    Heather grassland  ...  Chlorothalonil_10km  \
y         x                            ...
1295000.0 5000.0                    0  ...                  NaN
          15000.0                   0  ...                  NaN
          25000.0                   0  ...                  NaN
          35000.0                   0  ...                  NaN
          45000.0                   0  ...                  NaN
...                               ...  ...                  ...
5000.0    655000.0                  0  ...                  NaN
          665000.0                  0  ...                  NaN
          675000.0                  0  ...                  NaN
          685000.0                  0  ...                  NaN
          695000.0                  0  ...                  NaN

                    Glyphosate_10km  Mancozeb_10km  Mecoprop-P_10km  \
y         x
1295000.0 5000.0                NaN            NaN              NaN
          15000.0               NaN            NaN              NaN
          25000.0               NaN            NaN              NaN
          35000.0               NaN            NaN              NaN
          45000.0               NaN            NaN              NaN
...                             ...            ...              ...
5000.0    655000.0              NaN            NaN              NaN
          665000.0              NaN            NaN              NaN
          675000.0              NaN            NaN              NaN
          685000.0              NaN            NaN              NaN
          695000.0              NaN            NaN              NaN

                    Metamitron_10km  Pendimethalin_10km  \
y         x
1295000.0 5000.0                NaN                 NaN
          15000.0               NaN                 NaN
          25000.0               NaN                 NaN
          35000.0               NaN                 NaN
          45000.0               NaN                 NaN
...                             ...                 ...
5000.0    655000.0              NaN                 NaN
          665000.0              NaN                 NaN
          675000.0              NaN                 NaN
          685000.0              NaN                 NaN
          695000.0              NaN                 NaN

                    PropamocarbHydrochloride_10km  Prosulfocarb_10km  \
y         x
1295000.0 5000.0                              NaN                NaN
          15000.0                             NaN                NaN
          25000.0                             NaN                NaN
          35000.0                             NaN                NaN
          45000.0                             NaN                NaN
...                                           ...                ...
5000.0    655000.0                            NaN                NaN
          665000.0                            NaN                NaN
          675000.0                            NaN                NaN
          685000.0                            NaN                NaN
          695000.0                            NaN                NaN

                    Sulphur_10km  Tri-allate_10km
y         x
1295000.0 5000.0             NaN              NaN
          15000.0            NaN              NaN
          25000.0            NaN              NaN
          35000.0            NaN              NaN
          45000.0            NaN              NaN
...                          ...              ...
5000.0    655000.0           NaN              NaN
          665000.0           NaN              NaN
          675000.0           NaN              NaN
          685000.0           NaN              NaN
          695000.0           NaN              NaN

[9100 rows x 39 columns]

In [6]:
# Label data with entire bird dataset
# -> Convert every non-null value into 1s and every null value into 0

bird_dataset = rioxarray.open_rasterio(INVASIVE_BIRDS_PATH)
bird_dataset.name = 'data'
bird_df = bird_dataset.squeeze().drop("spatial_ref").drop("band").to_dataframe()

bird_df['Occurrence'] = [0 if x == 0 else 1 for x in bird_df['data']]
main_df = main_df.join(bird_df.drop(columns='data'))
main_df

                    Deciduous woodland  Coniferous woodland  Arable  \
y         x
1295000.0 5000.0                     0                    0       0
          15000.0                    0                    0       0
          25000.0                    0                    0       0
          35000.0                    0                    0       0
          45000.0                    0                    0       0
...                                ...                  ...     ...
5000.0    655000.0                   0                    0       0
          665000.0                   0                    0       0
          675000.0                   0                    0       0
          685000.0                   0                    0       0
          695000.0                   0                    0       0

                    Improve grassland  Neutral grassland  \
y         x
1295000.0 5000.0                    0                  0
          15000.0                   0                  0
          25000.0                   0                  0
          35000.0                   0                  0
          45000.0                   0                  0
...                               ...                ...
5000.0    655000.0                  0                  0
          665000.0                  0                  0
          675000.0                  0                  0
          685000.0                  0                  0
          695000.0                  0                  0

                    Calcareous grassland  Acid grassland  Fen  Heather  \
y         x
1295000.0 5000.0                       0               0    0        0
          15000.0                      0               0    0        0
          25000.0                      0               0    0        0
          35000.0                      0               0    0        0
          45000.0                      0               0    0        0
...                                  ...             ...  ...      ...
5000.0    655000.0                     0               0    0        0
          665000.0                     0               0    0        0
          675000.0                     0               0    0        0
          685000.0                     0               0    0        0
          695000.0                     0               0    0        0

                    Heather grassland  ...  Glyphosate_10km  Mancozeb_10km  \
y         x                            ...
1295000.0 5000.0                    0  ...              NaN            NaN
          15000.0                   0  ...              NaN            NaN
          25000.0                   0  ...              NaN            NaN
          35000.0                   0  ...              NaN            NaN
          45000.0                   0  ...              NaN            NaN
...                               ...  ...              ...            ...
5000.0    655000.0                  0  ...              NaN            NaN
          665000.0                  0  ...              NaN            NaN
          675000.0                  0  ...              NaN            NaN
          685000.0                  0  ...              NaN            NaN
          695000.0                  0  ...              NaN            NaN

                    Mecoprop-P_10km  Metamitron_10km  Pendimethalin_10km  \
y         x
1295000.0 5000.0                NaN              NaN                 NaN
          15000.0               NaN              NaN                 NaN
          25000.0               NaN              NaN                 NaN
          35000.0               NaN              NaN                 NaN
          45000.0               NaN              NaN                 NaN
...                             ...              ...                 ...
5000.0    655000.0              NaN              NaN                 NaN
          665000.0              NaN              NaN                 NaN
          675000.0              NaN              NaN                 NaN
          685000.0              NaN              NaN                 NaN
          695000.0              NaN              NaN                 NaN

                    PropamocarbHydrochloride_10km  Prosulfocarb_10km  \
y         x
1295000.0 5000.0                              NaN                NaN
          15000.0                             NaN                NaN
          25000.0                             NaN                NaN
          35000.0                             NaN                NaN
          45000.0                             NaN                NaN
...                                           ...                ...
5000.0    655000.0                            NaN                NaN
          665000.0                            NaN                NaN
          675000.0                            NaN                NaN
          685000.0                            NaN                NaN
          695000.0                            NaN                NaN

                    Sulphur_10km  Tri-allate_10km  Occurrence
y         x
1295000.0 5000.0             NaN              NaN           0
          15000.0            NaN              NaN           0
          25000.0            NaN              NaN           0
          35000.0            NaN              NaN           0
          45000.0            NaN              NaN           0
...                          ...              ...         ...
5000.0    655000.0           NaN              NaN           0
          665000.0           NaN              NaN           0
          675000.0           NaN              NaN           0
          685000.0           NaN              NaN           0
          695000.0           NaN              NaN           0

[9100 rows x 40 columns]

In [7]:
# Checking to see values
main_df.value_counts('Occurrence')

# Needs to be cleaned as there's too many rows with no data

Occurrence
0    6428
1    2672
dtype: int64

In [8]:
# Cleaning data
main_df = main_df.loc[main_df['Deciduous woodland']
                        + main_df['Coniferous woodland']
                        + main_df['Arable']
                        + main_df['Improve grassland']
                        + main_df['Neutral grassland']
                        + main_df['Calcareous grassland']
                        + main_df['Acid grassland']
                        + main_df['Fen']
                        + main_df['Heather']
                        + main_df['Heather grassland']
                        + main_df['Bog']
                        + main_df['Inland rock']
                        + main_df['Saltwater']
                        + main_df['Freshwater']
                        + main_df['Supralittoral rock']
                        + main_df['Supralittoral sediment']
                        + main_df['Littoral rock']
                        + main_df['Littoral sediment']
                        + main_df['Saltmarsh']
                        + main_df['Urban']
                        + main_df['Suburban'] 
                        + main_df['Occurrence']!= 0
                    ]
main_df.value_counts('Occurrence')

Occurrence
1    2672
0     207
dtype: int64

In [9]:
main_df

                    Deciduous woodland  Coniferous woodland  Arable  \
y         x
1215000.0 465000.0                   0                    0       0
1205000.0 455000.0                   0                    0       0
          465000.0                   0                    0       0
1195000.0 435000.0                   0                    0       0
          445000.0                   0                    0       0
...                                ...                  ...     ...
15000.0   185000.0                   0                    0       0
          255000.0                   0                    0       0
5000.0    85000.0                    0                    0       0
          95000.0                    0                    0       0
          125000.0                   0                    0       0

                    Improve grassland  Neutral grassland  \
y         x
1215000.0 465000.0                 29                  0
1205000.0 455000.0                  0                  0
          465000.0                  0                  0
1195000.0 435000.0                  0                  0
          445000.0                  0                  0
...                               ...                ...
15000.0   185000.0                  0                  0
          255000.0                  0                  0
5000.0    85000.0                   0                  0
          95000.0                   0                  0
          125000.0                  0                  0

                    Calcareous grassland  Acid grassland  Fen  Heather  \
y         x
1215000.0 465000.0                     0               0    0        0
1205000.0 455000.0                     0               0    0        3
          465000.0                     0               0    0        0
1195000.0 435000.0                     0               0    0        0
          445000.0                     0               3    0        0
...                                  ...             ...  ...      ...
15000.0   185000.0                     0               0    0        0
          255000.0                     0               0    0        0
5000.0    85000.0                      0               0    0        0
          95000.0                      0               0    0        0
          125000.0                     0               0    0        0

                    Heather grassland  ...  Glyphosate_10km  Mancozeb_10km  \
y         x                            ...
1215000.0 465000.0                  1  ...              NaN            NaN
1205000.0 455000.0                  0  ...              NaN            NaN
          465000.0                  0  ...              NaN            NaN
1195000.0 435000.0                  0  ...              NaN            NaN
          445000.0                  0  ...              NaN            NaN
...                               ...  ...              ...            ...
15000.0   185000.0                  0  ...              NaN            NaN
          255000.0                  0  ...              NaN            NaN
5000.0    85000.0                   0  ...              NaN            NaN
          95000.0                   0  ...              NaN            NaN
          125000.0                  0  ...              NaN            NaN

                    Mecoprop-P_10km  Metamitron_10km  Pendimethalin_10km  \
y         x
1215000.0 465000.0              NaN              NaN                 NaN
1205000.0 455000.0              NaN              NaN                 NaN
          465000.0              NaN              NaN                 NaN
1195000.0 435000.0              NaN              NaN                 NaN
          445000.0              NaN              NaN                 NaN
...                             ...              ...                 ...
15000.0   185000.0              NaN    -3.400000e+38                 NaN
          255000.0              NaN    -3.400000e+38                 NaN
5000.0    85000.0               NaN              NaN                 NaN
          95000.0               NaN              NaN                 NaN
          125000.0              NaN              NaN                 NaN

                    PropamocarbHydrochloride_10km  Prosulfocarb_10km  \
y         x
1215000.0 465000.0                            NaN                NaN
1205000.0 455000.0                            NaN                NaN
          465000.0                            NaN                NaN
1195000.0 435000.0                            NaN                NaN
          445000.0                            NaN                NaN
...                                           ...                ...
15000.0   185000.0                  -3.400000e+38                NaN
          255000.0                  -3.400000e+38                NaN
5000.0    85000.0                             NaN                NaN
          95000.0                             NaN                NaN
          125000.0                            NaN                NaN

                    Sulphur_10km  Tri-allate_10km  Occurrence
y         x
1215000.0 465000.0           NaN              NaN           1
1205000.0 455000.0           NaN              NaN           1
          465000.0           NaN              NaN           1
1195000.0 435000.0           NaN              NaN           1
          445000.0           NaN              NaN           1
...                          ...              ...         ...
15000.0   185000.0           NaN              NaN           1
          255000.0           NaN              NaN           1
5000.0    85000.0            NaN              NaN           1
          95000.0            NaN              NaN           1
          125000.0           NaN              NaN           1

[2879 rows x 40 columns]

In [10]:
# Output dataframe as csv
main_df.to_csv('Datasets/Machine Learning/Dataframes/10km_All_Birds_DF.csv')